<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    
    <title>MB Motors Garage - ยินดีต้อนรับ</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="mbgarage" name="keywords">
	<meta content="MB Motors Garage - custom you can design." name="description">
	
	<!-- Favicons -->
	<link href="img/favicon.png" rel="icon">
	<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
	
	<!-- Bootstrap CSS File -->
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="lib/animate/animate.min.css" rel="stylesheet">
	
	<!-- Main Stylesheet File -->
	<link href="css/style.css" rel="stylesheet">
  </head>
  
 <body>
 
 <div th:fragment="header">

    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li th:classappend="${module == 'home' ? 'menu-active' : ''}">
          	<a th:href="@{/}">หน้าหลัก (Home)</a>
          </li>
          <li>
          	<a href="#gallery">แกลเลอรี่ (Gallery)</a>
          </li>
          <li th:classappend="${module == 'custombike' ? 'menu-active' : ''}">
          	<a th:href="@{/custombike}">คัสตอมรถ (Custom Bike)</a>
          </li>
          <li>
          	<a href="#order">สั่งทำรถ (Order)</a>
          </li>
          <li th:if="${isAdmin}" class="menu-has-children"><a href="">ตั้งค่าระบบ(Admin)</a>
            <ul>
              <li th:classappend="${module == 'manage/customer' ? 'menu-active' : ''}">
              	<a th:href="@{/manage/customer}">ลูกค้า (Customer) </a>
              </li>
              <li th:classappend="${module == 'manage/company' ? 'menu-active' : ''}">
              	<a th:href="@{/manage/company}">บริษัทสินค้า (Company) </a>
              </li>
              <li class="menu-has-children"><a href="">ข้อมูลมอเตอร์ไซเคิล (Motorcycle)</a>
              	<ul>
              	  <li th:classappend="${module == 'manage/wheel' ? 'menu-active' : ''}">
              	  	<a th:href="@{/manage/wheel}">ล้อ (Wheel) </a>
              	  </li>
	              <li th:classappend="${module == 'manange/handbar' ? 'menu-active' : ''}">
	              	<a th:href="@{/manage/handbar}">แฮนด์บาร์ (Handbar) </a>
	              </li>
	              <li th:classappend="${module == 'manage/carseat' ? 'menu-active' : ''}">
	              	<a th:href="@{/manage/carseat}">เบาะรถ (Seat) </a>
	              </li>
	              <li th:classappend="${module == 'manage/tank' ? 'menu-active' : ''}">
	              	<a th:href="@{/manage/tank}">ถังน้ำมัน (Tank)</a>
	              </li>
	            </ul>
            </ul>
          </li>
          
          <li>
          	<a href="#contact">ติดต่อเรา (Contact Us)</a>
          </li>
          
          <li th:if="!${userLogin}">
              <a href="#" th:href="@{#}" onclick="document.getElementById('modalLogin').style.display='block'">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;เข้าสู่ระบบ (Login)
              </a>
           </li>
            
           <li th:if="${userLogin}">
              <a href="/logout" th:href="@{#}" onclick="$('#formLogout').submit();">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;ออกจากระบบ Logout
              </a>
              <form style="visibility: hidden" id="formLogout" method="post" action="#" th:action="@{/logout}"></form>
           </li>
            
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>

  
	<!-- JavaScript Libraries -->
	  <script src="lib/jquery/jquery.min.js"></script>
	  <script src="lib/jquery/jquery-migrate.min.js"></script>
	  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	  <script src="lib/easing/easing.min.js"></script>
	  <script src="lib/wow/wow.min.js"></script>
	  <script src="lib/waypoints/waypoints.min.js"></script>
	  <script src="lib/counterup/counterup.min.js"></script>
	  <script src="lib/superfish/hoverIntent.js"></script>
	  <script src="lib/superfish/superfish.min.js"></script>
	
	  <!-- Contact Form JavaScript File -->
	  <script src="contactform/contactform.js"></script>
	
	  <!-- Template Main Javascript File -->
	  <script src="js/main.js"></script>
	  
	
</div>

</body>
</html>