<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    
    <title>...</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="mbgarage" name="keywords">
	<meta content="MB Motors Garage - custom you can design." name="description">
	
	<!-- Favicons -->
	<link href="img/favicon.png" rel="icon">
	<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
	
	<!-- Bootstrap CSS File -->
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="lib/animate/animate.min.css" rel="stylesheet">
	
	<!-- Main Stylesheet File -->
	<link href="css/style.css" rel="stylesheet">
  </head>
<body>
	<div th:fragment="register">
	  <div id="modalRegister" class="modal">
		<form class="modal-content2 animate" th:action="@{/register}" th:object="${userRegister}" method="POST" enctype="utf8" >
		   <div class="imgcontainer">
		     <span onclick="document.getElementById('modalLogin').style.display='none'" class="close" title="Close Modal">&times;</span>
		   </div>
		    <p> ลงทะเบียนใช้งาน - Registration </p>
		    <div class="container">
		        <label>First name</label>
		        <input th:field="*{memFirstname}" type="text" placeholder="Enter First name" name="memFirstname" maxlength="50" required />
		          	
		        <label> Last name </label>
		        <input th:field="*{memLastname}" type="text" placeholder="Enter Last name" name="memLastname" maxlength="50" required />
		    
		        <label>E-mail</label>
		        <input th:field="*{memEmail}" type="email" placeholder="Enter E-mail" name="memEmail" maxlength="100" required />
		        
		    
		        <label>Telephone</label>
		        <input th:field="*{memTel}" type="text" placeholder="Enter Telephone" name="memTel" maxlength="11"/>
		    
		        <label>Gender</label>
		        <span th:each="gender : ${genderList}">
				    <input type="radio" th:field="*{memGender}" th:value="${gender}" />
				    <label th:for="${#ids.prev('memGender')}" th:text="${gender}">gender</label>
				</span><br/>
		    
		        <label>User name</label>
		        <input th:field="*{memUsername}" type="text" placeholder="Enter Username" name="memUsername" maxlength="20" required/>
		    
		        <label>Password</label>
		        <input th:field="*{memPassword}" type="password" placeholder="Enter Password" name="memPassword" maxlength="20" required/>
		    
		        <label>Confirm Password</label>
		        <input th:field="*{matchingPassword}" type="password" placeholder="Enter Confirm Password" name="matchingPassword" maxlength="20" required/>
		        
		    	<button type="submit">Submit</button>
		    </div>
		</form>
		 <div class="container" style="background-color:#f1f1f1">
	        <button type="button" onclick="document.getElementById('modalRegister').style.display='none';" class="cancelbtn">Cancel</button>
	        <span class="psw"><a href="#" onclick="document.getElementById('modalRegister').style.display='none'; document.getElementById('modalLogin').style.display='block';">Login</a></span>
	    </div>
	    
	  </div>
	  
	  <!-- JavaScript Libraries -->
	  <script src="lib/jquery/jquery.min.js"></script>
	  <script src="lib/jquery/jquery-migrate.min.js"></script>
	  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	  <script src="lib/easing/easing.min.js"></script>
	  <script src="lib/wow/wow.min.js"></script>
	  <script src="lib/waypoints/waypoints.min.js"></script>
	  <script src="lib/counterup/counterup.min.js"></script>
	  <script src="lib/superfish/hoverIntent.js"></script>
	  <script src="lib/superfish/superfish.min.js"></script>
	
	  <!-- Contact Form JavaScript File -->
	  <script src="contactform/contactform.js"></script>
	
	  <!-- Template Main Javascript File -->
	  <script src="js/main.js"></script>
	  
	<script>
	// Get the modal
	var modalRegis = document.getElementById('modalRegister');
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modalRegis) {
	    	modalRegis.style.display = "none";
	    } 
	}
	</script>
	
	</div>
</body>
</html>